<div class="container">
    <h1 class="justify-content-center font-weight-bold text-center">
        What's in your Fridge?
    </h1>
    <p class="text-center p-3">
        Enter your ingredients to be returned recipes you can make!
    </p>
    <div class="border rounded mx-auto p-3">
        <form action="/submit" method="POST">
            <label for="apiKey">Api</label>
            <input type="text" name="apiKey" id="api">
            <label for="cuisine">Cuisine</label>
            <input type="text" name="cuisine" id="cuisine">
            <button type="submit" class="btn">Discover</button>
        </form>
        </h1>
    </div>